// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.notice {
  margin: 1em 0;
  padding: 10px 10px 10px 35px;
  border-width: 2px 0;
  border-style: solid;
  border-color: #F5C0DD;
  color: #666;
  font-size: 12px;
  line-height: 1.5;
}
.wrapper {
  padding: 15px 33px;  
}
